.App {
  margin:auto;
  margin-top: 12px;
  margin-bottom: 12px;
  text-align: center;
  max-width: 500px;
  border: 4px solid #FFFFFF;
  border-radius: 12px;
}

.App-header {
  background-color: #000000;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  min-height: 6vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: #FFFFFF;
}
.App-main{
  background-color: #308446;
  min-height: 300px;
  color: #FFFFFF;
  padding-top: 20px;
  padding-bottom: 20px;
}
.App-btn{
  display:flex;
  align-items: center;
  justify-content: space-evenly;
}

.App-footer{
  background-color: #015D52;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  min-height: 5vh;
  margin: auto;
  display: flex;
  justify-content: flex-end;
}

.footer-info{
  border: 0px solid #FF0000;
  display: flex;
  align-items: flex-end;
  padding: 10px;
  font-size: small;
  color: #C0C0C0;
}